<div class="container mx-auto p-4">
  <h1><%= t(".title") %></h1>
  <%= form_with(model: current_user, url: dashboard_path, local: true, method: :patch) do |f| %>
    <div class="my-4">
      <%= f.label :business_type, "Type d'entreprise" %>
      <%= f.select :business_type, id: :business_type, class: "p-2 rounded w-full border text-gray-800" do %>
        <%= options_for_select(["Restaurant", "Hôtel", "Magasin", "Autre"], current_user.business_type) %>
      <% end %>
    </div>
    <%= f.submit "Mettre à jour", class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
  <% end %>

  <div class="my-8">
    <ul class="list-none">
      <% @reviews.each do |review| %>
        <li class="bg-black-800 p-2 my-2 rounded text-white-800">
          <strong><%= review["location_name"] %></strong> <%= string_to_integer(review["starRating"]).times.map { "<i class='text-yellow-400 fas fa-star'></i>" }.join.html_safe %>
          <br>
          <%= review["reviewer"]["displayName"] %> : "<%= extract_original_text(review["comment"]) %>"
          <div class="mt-2 py-2">
            <%= form_with url: reply_review_path(review["name"]), local: true,
                          data: { 
                            controller: "generate",
                            generate_location_value: review["location_name"], 
                            generate_business_value: current_user.business_type,
                            generate_review_value: extract_original_text(review["comment"]),
                          } do |f| %>
              <div class="flex items-center space-x-2">
                <%= f.text_area :reply, placeholder: "Votre réponse...", value: review["reviewReply"] ? extract_original_text(review["reviewReply"]["comment"]) : nil, class: "p-2 rounded w-full border text-gray-800", data: { generate_target: "input" } %>
                <button type="button" class="generate-reply px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600" data-action="click->generate#generate">Generate</button>
                <%= f.submit "Envoyer", class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
              </div>
            <% end %>
          </div>

        </li>
      <% end %>
    </ul>
  </div>
</div>

